In [2]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv('crimedata.csv')
df2 = pd.read_csv('crime20.csv')
df3 = pd.read_csv('crime19.csv')
df4 = pd.read_csv('crime21.csv')

print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
print()
print("df4 type:", type(df4))
print("df4 shape:", df4.shape)

df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (31, 16)

df2 type: <class 'pandas.core.frame.DataFrame'>
df2 shape: (69, 19)

df3 type: <class 'pandas.core.frame.DataFrame'>
df3 shape: (63, 19)

df4 type: <class 'pandas.core.frame.DataFrame'>
df4 shape: (67, 19)

In [5]:
# Drop unnecessary columns
df1 = df1.drop(['Unnamed: 14', 'Unnamed: 15'], axis=1)

In [6]:
df1.shape
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   S/NO             18 non-null     float64
 1   OFFENCES (TYPE)  18 non-null     object
 2   2010             18 non-null     float64
 3   2011             18 non-null     float64
 4   2012             19 non-null     object
 5   2013             18 non-null     float64
 6   2014             18 non-null     float64
 7   2015             18 non-null     float64
 8   2016             18 non-null     float64
 9   2017             18 non-null     float64
 10  2018             18 non-null     float64
 11  2019             18 non-null     float64
 12  2020             18 non-null     float64
 13  TOTAL            18 non-null     float64
dtypes: float64(12), object(2)
memory usage: 3.5+ KB

In [6]:
# Check for missing values
df1.isnull().sum()

S/NO               13
OFFENCES (TYPE)    13
2010               13
2011               13
2012               12
2013               13
2014               13
2015               13
2016               13
2017               13
2018               13
2019               13
2020               13
TOTAL              13
dtype: int64

In [19]:
# Drop null values from df1

df1.dropna(inplace=True)

In [7]:
df1.head()

,S/NO,OFFENCES (TYPE),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,1.0,Homicide,2239.0,2641.0,2761,2878.0,2649.0,2648.0,2751.0,2774.0,2856.0,2082.0,2786.0,26983.0
1,2.0,Offences against Morality,4817.0,4703.0,4086,4779.0,5184.0,6164.0,6228.0,5492.0,7233.0,8407.0,9153.0,57839.0
2,3.0,Other offences against person,20012.0,20144.0,20698,19344.0,19911.0,21174.0,22295.0,22515.0,25049.0,27089.0,19501.0,210643.0
3,4.0,Robbery,2843.0,3262.0,3262,3551.0,3011.0,2865.0,2697.0,2713.0,2935.0,2082.0,2089.0,29228.0
4,5.0,Breaking,6453.0,7325.0,7578,6397.0,5656.0,5591.0,5621.0,6131.0,5970.0,5605.0,4179.0,60901.0

In [8]:
df1.shape

(31, 14)

In [8]:
df2.shape
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          52 non-null     object
 1   Unnamed: 1                          51 non-null     object
 2   Unnamed: 2                          51 non-null     object
 3   Unnamed: 3                          51 non-null     object
 4   Unnamed: 4                          51 non-null     object
 5   Unnamed: 5                          51 non-null     object
 6   Unnamed: 6                          51 non-null     object
 7   Unnamed: 7                          51 non-null     object
 8   Unnamed: 8                          51 non-null     object
 9   Unnamed: 9                          51 non-null     object
 10  Unnamed: 10                         51 non-null     object
 11  Unnamed: 11                         51 non-null     object
 12  Unnamed: 12                         51 non-null     object
 13  Unnamed: 13                         51 non-null     object
 14  Unnamed: 14                         51 non-null     object
 15  OFFENCES INVOLVING POLICE OFFICERS  50 non-null     float64
 16  OFFENCES INVOLVING TOURIST          50 non-null     float64
 17  Unnamed: 17                         51 non-null     object
 18  Unnamed: 18                         51 non-null     object
dtypes: float64(2), object(17)
memory usage: 10.4+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,OFFENCES INVOLVING POLICE OFFICERS,OFFENCES INVOLVING TOURIST,Unnamed: 17,Unnamed: 18
0,NaN,HOMICIDE,OFFENCES AGAINST MORALITY,NaN,ROBBERY,BREAKINGS,THEFT OF STOCK,STEALING,THEFT BY SERVANT,VEHICLE AND OTHER THEFTS,DANGEROUS DRUGS,TRAFFIC OFFENCES,CRIMINAL DAMAGE,ECONOMIC CRIMES,CORRUPTION,NaN,NaN,OTHER PENAL CODE OFFENCES,NaN
1,NaN,NaN,NaN,OTHER OFFENCES AGAINST PERSONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRAND TOTAL
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df2.dropna(inplace=True)
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,OFFENCES INVOLVING POLICE OFFICERS,OFFENCES INVOLVING TOURIST,Unnamed: 17,Unnamed: 18
18,Mombasa,25,280,348,85,119,4,460,64,51,269,42,79,180,4,0.0,1.0,220,2231
19,Kwale,52,230,243,17,44,26,101,16,11,23,0,44,23,0,0.0,2.0,78,910
20,kilifi,124,328,356,25,95,28,243,37,17,81,8,86,106,1,0.0,0.0,263,1798
21,Tana River,11,72,129,7,25,18,43,7,5,19,0,20,6,0,1.0,0.0,33,396
22,Lamu,9,64,103,14,27,13,44,2,2,36,0,15,7,0,4.0,0.0,40,380

In [11]:

column_mapping = {
    'Unnamed: 0': 'Counties',
    'Unnamed: 1': 'Homicide',
    'Unnamed: 2': 'Offences against Morality',
    'Unnamed: 3': 'Other offences against person',
    'Unnamed: 4': 'Robbery',
    'Unnamed: 5': 'Breaking',
    'Unnamed: 6': 'Theft of Stock',
    'Unnamed: 7': 'Stealing',
    'Unnamed: 8': 'Theft by Servant',
    'Unnamed: 9': 'Vehicle and other thefts',
    'Unnamed: 10': 'Dangerous Drugs',
    'Unnamed: 11': 'Traffic offences',
    'Unnamed: 12': 'Criminal damage',
    'Unnamed: 13': 'Economic crimes',
    'Unnamed: 14': 'Corruption',
    'Unnamed: 17': 'Offences Involving police officers',
    'Unnamed: 18': 'Offences Involving Tourist'
}

# Rename columns using the mapping
df2.rename(columns=column_mapping, inplace=True)
df2.head()

,County,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Theft of Vehicle and parts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,OFFENCES INVOLVING POLICE OFFICERS,OFFENCES INVOLVING TOURIST,Offences Involving police officers,Offences Involving Tourist
18,Mombasa,25,280,348,85,119,4,460,64,51,269,42,79,180,4,0.0,1.0,220,2231
19,Kwale,52,230,243,17,44,26,101,16,11,23,0,44,23,0,0.0,2.0,78,910
20,kilifi,124,328,356,25,95,28,243,37,17,81,8,86,106,1,0.0,0.0,263,1798
21,Tana River,11,72,129,7,25,18,43,7,5,19,0,20,6,0,1.0,0.0,33,396
22,Lamu,9,64,103,14,27,13,44,2,2,36,0,15,7,0,4.0,0.0,40,380

In [12]:
# Map the desired column names
column_mapping = {
    'County': 'Counties',
    'Homicide': 'Homicide',
    'Offences against Morality': 'Offences against Morality',
    'Other offences against person': 'Other offences against person',
    'Robbery': 'Robbery',
    'Breaking': 'Breaking',
    'Theft of Stock': 'Theft of Stock',
    'Stealing': 'Stealing',
    'Theft by Servant': 'Theft by Servant',
    'Theft of Vehicle and parts': 'Theft of Vehicle and other thefts',
    'Dangerous Drugs': 'Dangerous Drugs',
    'Traffic offences': 'Traffic offences',
    'Criminal damage': 'Criminal damage',
    'Economic crimes': 'Economic crimes',
    'Corruption': 'Corruption',
    'OFFENCES INVOLVING POLICE OFFICERS': 'Offences Involving police officers',
    'OFFENCES INVOLVING TOURIST': 'Offences Involving Tourist',
    'Offences Involving police officers': 'Other penal code offences',
    'Offences Involving Tourist': 'Total'
}

# Rename columns
df2.rename(columns=column_mapping, inplace=True)

# Display the DataFrame with renamed columns
print(df2)

         Counties Homicide Offences against Morality  \
18        Mombasa       25                       280
19          Kwale       52                       230
20         kilifi      124                       328
21     Tana River       11                        72
22           Lamu        9                        64
23   Taita Taveta       22                       130
24       Garrissa       13                        28
25          Wajir        3                        23
26        Mandera       12                        36
27       Marsabit       33                        68
28         Isiolo       18                        52
29           Meru      131                       294
30  Tharaka Nithi       32                       113
31           Embu       90                       150
32          Kitui      105                       251
33       Machakos       83                       319
34        Makueni       89                       232
35      Nyandarua       89                       203
36          Nyeri       68                       190
37      Kirinyaga       48                       121
38        Muranga      145                       271
39         Kiambu      184                       406
40        Turkana       27                       101
41     West Pokot       20                        46
42        Samburu       31                        24
43    Trans Nzoia       46                       274
44    Uasin Gishu       54                       240
46       Marakwet       31                        76
47          Nandi       30                       161
48        Baringo       33                        93
49       Laikipia       44                       160
50         Nakuru      150                       473
51          Narok       25                       168
52        Kajiado       49                       133
53        Kericho       55                       163
54          Bomet       43                       198
55       Kakamega       87                       240
56         Vihiga       57                       131
57        Bungoma      107                       324
58          Busia       43                       160
59          Siaya       80                       216
60         Kisumu       85                       327
61       Homa Bay      108                       292
62         Migori       99                       213
63          Kisii       82                       379
64        Nyamira      125                       151
65        Nairobi      214                       546
66           KAPU        0                         1
67       Railways        0                         2
68          TOTAL     3111                      9153

   Other offences against person Robbery Breaking Theft of Stock Stealing  \
18                           348      85      119              4      460
19                           243      17       44             26      101
20                           356      25       95             28      243
21                           129       7       25             18       43
22                           103      14       27             13       44
23                           238      32       34             30       97
24                           225      13       12              3       77
25                           132       2        1             10       12
26                           123      11        4              0       16
27                           203      19       33             14       72
28                           131      19       29             16       48
29                          1381     100      161            114      748
30                           272      10       65             29       95
31                           509      39       74             24      201
32                           461      69       99             63      177
33                           734     128      186             73      317
34                           314      29       84             38      137
35                           306      29      123             69      175
36                           345      59      126             37      185
37                           457      32       74             22      151
38                           466      62      137             42      238
39                           900     301      272             33      683
40                           174      24       38             72       42
41                           148       6       32             11       36
42                           108      16       19             39       29
43                           390      73      102             49      128
44                           464      86      115             24      314
46                           127       3       23             16       34
47                           373      18       66             17      129
48                           241      18       60             41       61
49                           215      32       65             70      173
50                           806      93      297             53      507
51                           247      17       47             33       62
52                           277      46       83             33      158
53                           408      20       67             20      127
54                           545      16       62             17       81
55                           343      65      103             26      100
56                           295      30      107             22      109
57                           682      32      164             69      195
58                           419      20      118             37      160
59                           391      29       86             36      131
60                           700      85      187             26      306
61                           517      58      106             44      118
62                           400      29       64             18      102
63                          1073      58      129             41      228
64                           479      45       67             30      108
65                          1079     360      206              6      894
66                             3       0        0              0       20
67                             7       3       14              0       37
68                         19287    2384     4251           1556     8709

   Theft by Servant Theft of Vehicle and other thefts Dangerous Drugs  \
18               64                                51             269
19               16                                11              23
20               37                                17              81
21                7                                 5              19
22                2                                 2              36
23               16                                13              87
24                0                                 0              23
25                0                                 4              22
26                5                                 0              46
27                8                                10              53
28               11                                11              24
29               50                                46             161
30               16                                 6              72
31               27                                33             103
32                9                                11              84
33               88                                57             255
34               21                                 9              87
35               22                                 9              79
36               27                                23             158
37               48                                10             166
38               30                                21             316
39              128                               100             494
40               10                                10               5
41                5                                 8              20
42                9                                 4              31
43               29                                37              41
44               31                                32             103
46                4                                 2              14
47                4                                11              32
48                1                                 8              24
49               17                                 9              46
50               87                                32             285
51                5                                10              27
52               34                                20              51
53               14                                38              58
54               17                                27              24
55               11                                13              24
56                3                                 7              57
57               15                                25              41
58               19                                17              70
59                6                                15              70
60               58                                27              93
61               22                                27             114
62                6                                13              51
63               20                                22              98
64                2                                 8              51
65              401                               160             377
66                3                                 0               6
67                2                                 0               6
68             1467                              1031            4477

   Traffic offences Criminal damage Economic crimes Corruption  \
18               42              79             180          4
19                0              44              23          0
20                8              86             106          1
21                0              20               6          0
22                0              15               7          0
23                7              48              27          5
24                4              25              15          0
25                0               7               6          0
26                1               4              10          1
27                0              25              15          0
28                1              16              15          1
29                2             361             157         13
30                0              71              21          0
31                0              91              56          2
32               12             100              41          1
33                7             184              99         13
34               17              48              38          0
35                0              70              50          0
36               19              68              47          2
37                1              99              82          1
38                2              94              37          0
39               21             202             290         32
40                1              32              12          1
41                2              36              10          0
42                0              16              10          0
43                0              66              65          1
44                0              81             168          4
46                0              33              19          0
47                1              67              25          0
48                0              33              21          0
49                1              35              51          1
50                6             140             242          2
51                0              19              12          0
52                0              44              56          2
53                7              75              43          1
54                0             122              44          0
55                0              71              39          0
56                0              35              14          0
57                0              69              82          0
58                0              60              40          0
59                1              66              29          0
60                1             136             131          1
61                0              98              33          1
62               13              49              29          0
63                0             147              86          1
64                0              74              35          0
65                7             162             835         42
66                2               1              27          0
67                0               0               8          0
68              186            3524            3494        133

    Offences Involving police officers  Offences Involving Tourist  \
18                                 0.0                         1.0
19                                 0.0                         2.0
20                                 0.0                         0.0
21                                 1.0                         0.0
22                                 4.0                         0.0
23                                 0.0                         0.0
24                                 0.0                         0.0
25                                 0.0                         0.0
26                                 2.0                         0.0
27                                 9.0                         0.0
28                                 0.0                         0.0
29                                 0.0                         0.0
30                                 0.0                         0.0
31                                 0.0                         9.0
32                                 0.0                         0.0
33                                 0.0                         2.0
34                                 4.0                         1.0
35                                 0.0                         0.0
36                                 3.0                         1.0
37                                 1.0                         0.0
38                                 0.0                         0.0
39                                 5.0                         0.0
40                                 1.0                         0.0
41                                 0.0                         0.0
42                                 0.0                         1.0
43                                 3.0                         0.0
44                                 0.0                         0.0
46                                 1.0                         0.0
47                                 0.0                         0.0
48                                 0.0                         0.0
49                                 0.0                         0.0
50                                 1.0                         1.0
51                                 0.0                         0.0
52                                 0.0                         0.0
53                                 0.0                         0.0
54                                 0.0                         0.0
55                                 0.0                         0.0
56                                 0.0                         0.0
57                                 0.0                         0.0
58                                 3.0                         0.0
59                                 0.0                         0.0
60                                 4.0                         6.0
61                                 1.0                         0.0
62                                 2.0                         0.0
63                                 1.0                         0.0
64                                 0.0                         0.0
65                                15.0                         0.0
66                                 0.0                         2.0
67                                 3.0                         0.0
68                                64.0                        26.0

   Other penal code offences  Total
18                       220   2231
19                        78    910
20                       263   1798
21                        33    396
22                        40    380
23                        77    863
24                        60    498
25                        21    243
26                        34    305
27                        59    621
28                        39    431
29                       444   4163
30                       123    925
31                       120   1528
32                       233   1716
33                       297   2842
34                       158   1306
35                        99   1323
36                       124   1482
37                       139   1452
38                       218   2079
39                       302   4353
40                        79    629
41                        83    463
42                        43    380
43                       115   1419
44                       232   1948
46                        51    434
47                       217   1151
48                        44    678
49                        64    983
50                       317   3492
51                        47    719
52                       121   1107
53                        62   1158
54                        66   1262
55                        99   1221
56                        56    923
57                       202   2007
58                       143   1309
59                       124   1280
60                       217   2390
61                       196   1735
62                       158   1246
63                       237   2602
64                        90   1265
65                       540   5844
66                         1     66
67                         7     89
68                      6792  69645

In [14]:
df2.head()

,Counties,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Theft of Vehicle and other thefts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total
18,Mombasa,25,280,348,85,119,4,460,64,51,269,42,79,180,4,0.0,1.0,220,2231
19,Kwale,52,230,243,17,44,26,101,16,11,23,0,44,23,0,0.0,2.0,78,910
20,kilifi,124,328,356,25,95,28,243,37,17,81,8,86,106,1,0.0,0.0,263,1798
21,Tana River,11,72,129,7,25,18,43,7,5,19,0,20,6,0,1.0,0.0,33,396
22,Lamu,9,64,103,14,27,13,44,2,2,36,0,15,7,0,4.0,0.0,40,380

In [15]:
df2['Offences Involving police officers'] = df2['Offences Involving police officers'].astype(int)
df2['Offences Involving Tourist'] = df2['Offences Involving Tourist'].astype(int)
df2.head()

,Counties,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Theft of Vehicle and other thefts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total
18,Mombasa,25,280,348,85,119,4,460,64,51,269,42,79,180,4,0,1,220,2231
19,Kwale,52,230,243,17,44,26,101,16,11,23,0,44,23,0,0,2,78,910
20,kilifi,124,328,356,25,95,28,243,37,17,81,8,86,106,1,0,0,263,1798
21,Tana River,11,72,129,7,25,18,43,7,5,19,0,20,6,0,1,0,33,396
22,Lamu,9,64,103,14,27,13,44,2,2,36,0,15,7,0,4,0,40,380

In [16]:
df3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,OFFENCES INVOLVING POLICE OFFICERS,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,OTHER OFFENCES AGAINST PERSONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAFFIC OFFENCES,NaN,NaN,CORRUPTION,NaN,OFFENCES INVOLVING TOURIST,NaN,NaN
1,NaN,HOMICIDE,OFFENCES AGAINST MORALITY,NaN,ROBBERY,BREAKINGS,THEFT OF STOCK,STEALING,THEFT BY SERVANT,VEHICLE AND OTHER THEFTS,DANGEROUS DRUGS,NaN,CRIMINAL DAMAGE,ECONOMIC CRIMES,NaN,NaN,NaN,OTHER PENAL CODE OFFENCES,GRAND TOTAL
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df3.dropna(inplace=True)

In [18]:
df3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,OFFENCES INVOLVING POLICE OFFICERS,Unnamed: 16,Unnamed: 17,Unnamed: 18
13,Nairobi,228,444,1704,430,357,7,1505,413,191,786,53,242,1164,31,8.0,10,673,8246
14,Kiambu,151,383,1550,355,337,40,1179,204,116,1027,67,314,404,7,11.0,0,452,6597
15,Meru,108,276,2096,104,277,152,1356,98,63,226,4,471,239,1,4.0,0,602,6077
16,Nakuru,155,428,1130,146,392,68,874,159,52,412,8,217,325,2,6.0,0,356,4730
17,Mombasa,17,256,610,122,152,10,790,131,93,485,14,101,236,9,0.0,0,348,3374

In [19]:
column_mapping = {
    'Unnamed: 0': 'Counties',
    'Unnamed: 1': 'Homicide',
    'Unnamed: 2': 'Offences against Morality',
    'Unnamed: 3': 'Other offences against person',
    'Unnamed: 4': 'Robbery',
    'Unnamed: 5': 'Breaking',
    'Unnamed: 6': 'Theft of Stock',
    'Unnamed: 7': 'Stealing',
    'Unnamed: 8': 'Theft by Servant',
    'Unnamed: 9': 'Vehicle and other thefts',
    'Unnamed: 10': 'Dangerous Drugs',
    'Unnamed: 11': 'Traffic offences',
    'Unnamed: 12': 'Criminal damage',
    'Unnamed: 13': 'Economic crimes',
    'Unnamed: 14': 'Corruption',
    'OFFENCES INVOLVING POLICE OFFICERS': 'Offences Involving police officers',
    'Unnamed: 16': 'Offences Involving Tourist',
    'Unnamed: 17': 'Other penal code offences',
    'Unnamed: 18': 'Total' 
}

# Rename columns using the mapping
df3.rename(columns=column_mapping, inplace=True)
df3.head()

,Counties,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Vehicle and other thefts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total
13,Nairobi,228,444,1704,430,357,7,1505,413,191,786,53,242,1164,31,8.0,10,673,8246
14,Kiambu,151,383,1550,355,337,40,1179,204,116,1027,67,314,404,7,11.0,0,452,6597
15,Meru,108,276,2096,104,277,152,1356,98,63,226,4,471,239,1,4.0,0,602,6077
16,Nakuru,155,428,1130,146,392,68,874,159,52,412,8,217,325,2,6.0,0,356,4730
17,Mombasa,17,256,610,122,152,10,790,131,93,485,14,101,236,9,0.0,0,348,3374

In [20]:
df3['Offences Involving police officers'] = df3['Offences Involving police officers'].astype(int)

In [21]:
df3.head()

,Counties,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Vehicle and other thefts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total
13,Nairobi,228,444,1704,430,357,7,1505,413,191,786,53,242,1164,31,8,10,673,8246
14,Kiambu,151,383,1550,355,337,40,1179,204,116,1027,67,314,404,7,11,0,452,6597
15,Meru,108,276,2096,104,277,152,1356,98,63,226,4,471,239,1,4,0,602,6077
16,Nakuru,155,428,1130,146,392,68,874,159,52,412,8,217,325,2,6,0,356,4730
17,Mombasa,17,256,610,122,152,10,790,131,93,485,14,101,236,9,0,0,348,3374

In [22]:
df4.head()

,COUNTIES VS CATEGORY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,OTHER OFFENCES AGAINST PERSONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAFFIC OFFENCES,NaN,NaN,CORRUPTION,OFFENCES INVOLVING POLICE OFFICERS,OFFENCES INVOLVING TOURIST,NaN,NaN
1,NaN,NaN,OFFENCES AGAINST MORALITY,NaN,ROBBERY,BREAKINGS,THEFT OF STOCK,STEALING,THEFT BY SERVANT,VEHICLE AND OTHER THEFTS,DANGEROUS DRUGS,NaN,CRIMINAL DAMAGE,ECONOMIC CRIMES,NaN,NaN,NaN,OTHER PENAL CODE OFFENCES,GRAND TOTAL
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df4.dropna(inplace=True)
df4.head()

,COUNTIES VS CATEGORY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
11,MOMBASA,38.0,279,456,114,77,4,473,82,47,251,2,99,175,1,1,1,258,2358
12,KWALE,41.0,188,208,21,40,28,128,11,5,24,1,54,30,0,0,0,122,901
13,KILIFI,103.0,329,460,46,112,51,358,59,37,141,4,104,101,1,0,0,424,2330
14,TANA RIVER,17.0,72,172,7,46,19,73,5,9,9,0,45,5,0,0,0,55,534
15,LAMU,9.0,69,80,11,19,8,70,2,2,44,0,7,13,0,2,0,68,404

In [25]:
column_mapping = {
    'Unnamed: 0': 'Counties',
    'Unnamed: 1': 'Homicide',
    'Unnamed: 2': 'Offences against Morality',
    'Unnamed: 3': 'Other offences against person',
    'Unnamed: 4': 'Robbery',
    'Unnamed: 5': 'Breaking',
    'Unnamed: 6': 'Theft of Stock',
    'Unnamed: 7': 'Stealing',
    'Unnamed: 8': 'Theft by Servant',
    'Unnamed: 9': 'Vehicle and other thefts',
    'Unnamed: 10': 'Dangerous Drugs',
    'Unnamed: 11': 'Traffic offences',
    'Unnamed: 12': 'Criminal damage',
    'Unnamed: 13': 'Economic crimes',
    'Unnamed: 14': 'Corruption',
    'Unnamed: 15': 'Offences Involving police officers',
    'Unnamed: 16': 'Offences Involving Tourist',
    'Unnamed: 17': 'Other penal code offences',
    'Unnamed: 18': 'Total'
}

# Rename columns using the mapping
df4.rename(columns=column_mapping, inplace=True)
df4.head()

,COUNTIES VS CATEGORY,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Vehicle and other thefts,Dangerous Drugs,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total
11,MOMBASA,38.0,279,456,114,77,4,473,82,47,251,2,99,175,1,1,1,258,2358
12,KWALE,41.0,188,208,21,40,28,128,11,5,24,1,54,30,0,0,0,122,901
13,KILIFI,103.0,329,460,46,112,51,358,59,37,141,4,104,101,1,0,0,424,2330
14,TANA RIVER,17.0,72,172,7,46,19,73,5,9,9,0,45,5,0,0,0,55,534
15,LAMU,9.0,69,80,11,19,8,70,2,2,44,0,7,13,0,2,0,68,404

In [28]:
df = pd.concat([df2, df3, df4], axis=0)
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

df type: <class 'pandas.core.frame.DataFrame'>
df shape: (150, 21)

,Counties,Homicide,Offences against Morality,Other offences against person,Robbery,Breaking,Theft of Stock,Stealing,Theft by Servant,Theft of Vehicle and other thefts,...,Traffic offences,Criminal damage,Economic crimes,Corruption,Offences Involving police officers,Offences Involving Tourist,Other penal code offences,Total,Vehicle and other thefts,COUNTIES VS CATEGORY
18,Mombasa,25,280,348,85,119,4,460,64,51,...,42,79,180,4,0,1,220,2231,NaN,NaN
19,Kwale,52,230,243,17,44,26,101,16,11,...,0,44,23,0,0,2,78,910,NaN,NaN
20,kilifi,124,328,356,25,95,28,243,37,17,...,8,86,106,1,0,0,263,1798,NaN,NaN
21,Tana River,11,72,129,7,25,18,43,7,5,...,0,20,6,0,1,0,33,396,NaN,NaN
22,Lamu,9,64,103,14,27,13,44,2,2,...,0,15,7,0,4,0,40,380,NaN,NaN

In [29]:
df.to_csv("crimedata-clean.csv", index=False)