In [13]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('crimedata.csv')

In [14]:
# Drop unnecessary columns
df1 = df1.drop(['Unnamed: 14', 'Unnamed: 15'], axis=1)

In [17]:
df1.shape
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   S/NO             18 non-null     float64
 1   OFFENCES (TYPE)  18 non-null     object
 2   2010             18 non-null     float64
 3   2011             18 non-null     float64
 4   2012             19 non-null     object
 5   2013             18 non-null     float64
 6   2014             18 non-null     float64
 7   2015             18 non-null     float64
 8   2016             18 non-null     float64
 9   2017             18 non-null     float64
 10  2018             18 non-null     float64
 11  2019             18 non-null     float64
 12  2020             18 non-null     float64
 13  TOTAL            18 non-null     float64
dtypes: float64(12), object(2)
memory usage: 3.5+ KB

In [18]:
# Check for missing values
df1.isnull().sum()

S/NO               13
OFFENCES (TYPE)    13
2010               13
2011               13
2012               12
2013               13
2014               13
2015               13
2016               13
2017               13
2018               13
2019               13
2020               13
TOTAL              13
dtype: int64

In [19]:
# Drop null values from df1

df1.dropna(inplace=True)

In [21]:
df1.head()

,S/NO,OFFENCES (TYPE),2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,TOTAL
0,1.0,Homicide,2239.0,2641.0,2761,2878.0,2649.0,2648.0,2751.0,2774.0,2856.0,2082.0,2786.0,26983.0
1,2.0,Offences against Morality,4817.0,4703.0,4086,4779.0,5184.0,6164.0,6228.0,5492.0,7233.0,8407.0,9153.0,57839.0
2,3.0,Other offences against person,20012.0,20144.0,20698,19344.0,19911.0,21174.0,22295.0,22515.0,25049.0,27089.0,19501.0,210643.0
3,4.0,Robbery,2843.0,3262.0,3262,3551.0,3011.0,2865.0,2697.0,2713.0,2935.0,2082.0,2089.0,29228.0
4,5.0,Breaking,6453.0,7325.0,7578,6397.0,5656.0,5591.0,5621.0,6131.0,5970.0,5605.0,4179.0,60901.0

In [23]:
df1.shape

(18, 14)